.advantages {
  text-transform: uppercase;
}

.advantages__list {
  .non-style;
  background-color: #eeeeee;
}

.advantages__item--basic {
  background-color: @blue;
  color: @white;
}

.advantages__item {
  margin-bottom: 30px;
  padding-top: 40px;
}

.advantages__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
}

.advantages__order-number,
.advantages__description {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}

.advantages__order-number {
  display: block;
  margin-bottom: 20px;
}

.advantages__description {
  width: 264px;
  text-align: center;
}

.advantages__image {
  width: 320px;
  height: 260px;
}
