.advantages {
  .container;
  text-transform: uppercase;
}

.advantages__list {
  .non-style;
  text-align: center;
  background-color: #eeeeee;
}

.advantages__item--basic {
  .blue;
  color: @white;
}

.advantages__item {
  margin-bottom: 30px;
  padding-top: 40px;
}

.advantages__title,
.features-list__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
}

.advantages__order-number,
.advantages__description,
.features-list__description {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}

.advantages__order-number {
  display: block;
  margin-bottom: 20px;
}

.advantages__description {
  width: 264px;
  text-align: center;
  margin: 0 auto;
}

.advantages__image {
  width: 320px;
  height: 260px;
}

.features-list {
  .white;
  .non-style;
  color: @black;
}

.features-list__item {
  width: 230px;
  margin-left: 70px;
  text-align: left;
  .white;
}
