
.features-list {
  background-color: @white;
  .non-style;
  color: @black;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 320px;
  align-items: center;
}

.features-list__item {
  width: 230px;
  text-align: left;
  background-color: @white;
}

.features-list__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
}

.features-list__description {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}

@media (min-width: @tablet-width) {
  .features-list {
    flex-direction: row;
    justify-content: space-between;
    width: 768px;
  }

  .features-list__item {
    width: 256px;
    text-align: center;
  }
}

@media (min-width: @desktop-width) {

  .features-list {
    width: 1200px;
  }

  .features-list__item {
    width: 400px;
  }

}
