
.features-list {
  background-color: @white;
  .non-style;
  color: @black;
}

.features-list__item {
  width: 230px;
  margin-left: 70px;
  text-align: left;
  background-color: @white;
}

.features-list__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
}

.features-list__description {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}
