.nav-font {
  font-size: 18px;
  line-height: 40px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
}

.main-nav {
  .container;
  position: relative;
}

.site-list {
  .blue;
  .non-style;
  .flex-column;
}

.site-list__item a {
  .nav-font;
}

.main-nav__toggle {
  position: absolute;
  right: 0;
}
