.page-footer {
  width: 320px;
  margin: 0 auto;
  margin-top: 6px;
  text-align: center;
}

.page-footer--photo {
  margin-top: 65px;
}

@media (min-width: @tablet-width) {
  .page-footer {
    width: 768px;
    margin-top: 38px;
  }

  .page-footer--photo {
    margin-top: 52px;
  }

  .page-footer__wrapper {
    width: 648px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin-left: 60px;
  }
}

@media (min-width: @desktop-width) {
  .page-footer {
    width: 1200px;
    margin-top: -20px;
  }

  .page-footer--photo {
    margin-top: 97px;
  }

  .page-footer__wrapper {
    width: 960px;
    margin-left: 120px;
    margin-top: 70px;
  }
}
