.page-header {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  width: 320px;
  margin: 0 auto;
  margin-bottom: 275px;
}

.page-header__photo {
  margin-bottom: 42px;
}

.page-header__logo {
  width: 102px;
  height: 83px;
  margin: 0 auto;
}

.page-header__title {
  position: relative;
  width: 102px;
  height: 83px;
}

.page-header__title-image {
  position: absolute;
  left: 0;
  top: -50px;
  z-index: -1;
}

@media (min-width: @tablet-width) {
  .page-header {
    width: 768px;
    margin-bottom: 432px;
  }

  .page-header__photo {
    margin-bottom: 227px;
  }

  .page-header__logo {
    position: absolute;
    left: 333px;
    top: 0;
  }

  .page-header__title-image {
    left: 220px;
    top: 0;
  }
}

@media (min-width: @desktop-width) {
  .page-header {
    width: 1200px;
  }

  .page-header__photo {
    margin-bottom: 275px;
  }

  .page-header__logo {
    position: absolute;
    left: 548px;
    top: 0;
  }

  .page-header__title-image {
    left: 430px;
  }
}
