.page-header {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  width: 320px;
  margin: 0 auto;
  margin-bottom: 51px;
}

.page-header__logo {
  position: absolute;
  left: 110px;
  bottom: -83px;
  width: 102px;
  height: 83px;
  z-index: 100;
}

@media (min-width: @tablet-width) {
  .page-header {
    width: 768px;
    margin-bottom: 0;
  }

  .page-header__logo {
    position: absolute;
    left: 333px;
    top: 0;
  }
}

@media (min-width: @desktop-width) {
  .page-header {
    width: 1200px;
  }


  .page-header__logo {
    position: absolute;
    left: 505px;
    top: 0;
  }

  .page-header__logo-image {
    width: 188px;
    height: 96px;
  }
}
