.photo-video {
}

.photo-video__list {
  .non-style;
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
}

.photo-video__image {
  width: 280px;
  height: 280px;
}

.photo-video__title,
.photo-video__likes {
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
}

.photo-video__author {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #333333;
}

.photo-video__likes {
  margin-left: 37px;
}
