.site-list {
  background-color: @blue;
  .non-style;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.site-list__item {
  min-height: 56px;
}

.site-list__item a {
  display: block;
  padding-top: 6px;
  font-size: 18px;
  line-height: 40px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
}

@media (min-width: @tablet-width) {
  .site-list {
    background-color: @white;
    width: 700px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 15px;
    margin-top: 9px;
  }

  .site-list__item a {
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    color: #000000;
  }

  .site-list__item:nth-child(2) {
    margin-left: 27px;
  }

  .site-list__item:nth-child(3) {
    margin-left: 160px;
  }

  .site-list__item:last-child {
    margin-right: -8px;
  }
}

@media (min-width: @desktop-width) {
  .site-list {
    width: 1050px;
    margin-left: 21px;
  }

  .site-list__item:nth-child(2) {
    margin-left: 25px;
  }

  .site-list__item:nth-child(3) {
    margin-left: 245px;
  }

  .site-list__item:last-child {
    margin-right: 0;
  }
}
