.social {
  width: 280px;
  margin-left: 19px;
}

.social__name {
  display: block;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  margin-bottom: 36px;
}

.social__list {
  .non-style;
  margin-bottom: 23px;
  display: flex;
  flex-wrap: wrap;
  margin-left: 64px;
  width: 156px;
}

.social__item {
  position: relative;
  margin-right: 6px;
  margin-bottom: 6px;
}

.social__link {
  display: block;
  width: 46px;
  height: 48px;
  background-color: @blue;
  background-position: center;

  &:hover {
    background-color: #669ec0;
  }

  &:active {
    background-color: #5496bd;
  }
}

.social__twitter {
  margin-top: 17px;
  fill: #ffffff;
}

.social__facebook {
  margin-top: 14px;
  fill: #ffffff;
}

.social__youtube {
  margin-top: 17px;
  fill: #ffffff;
}

@media (min-width: @tablet-width) {
  .social {
    width: 405px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 0;
  }

  .social__name {
    margin-bottom: 11px;
  }

  .social__list {
    margin-top: -2px;
    margin-bottom: 0;
  }
}

@media (min-width: @desktop-width) {
  .social {
    width: 560px;
  }

  .social__name {
    width: 140px;
  }

  .social__list {
    margin-left: 200px;
  }

  .social__link:active .social__twitter {
    fill: #88b6d1;
  }

  .social__link:active .social__facebook {
    fill: #88b6d1;
  }

  .social__link:active .social__youtube {
    fill: #88b6d1;
  }
}
